* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
  
body {
    font-family: "Kanit", sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
    background-color: black; 
}

.header {
    background-color: black;
}

.header__logo {
    margin-top: 1rem;
    width: 7em;
    height: 7em;
}

.header__navbar {
    padding: 1rem;
}

.header__navbar a {
    font-family: "Kanit", sans-serif;
    text-decoration: none;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    text-transform: lowercase;
    padding: 1.5rem;
    line-height: 1rem;
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 600; 
}

main{
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
}

.calculador {
    display: grid;
    justify-items: center;
    justify-content: center;
    
}

.calculador h1 {
    text-align: center;
    margin-top: 5rem;
}

.calculador__formulario {
    width: 30em;
}