@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Kanit", sans-serif;
  /* font-family: 'Roboto Condensed', sans-serif; */ }

.hidden {
  overflow: hidden; }

main {
  font-family: "Kanit", sans-serif;
  background-color: black; }

.header {
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 10; }
  .header__logo {
    margin-top: 1rem;
    width: 7em;
    height: 7em; }
  .header__navbar {
    padding: 1rem; }
    .header__navbar a {
      font-family: "Kanit", sans-serif;
      text-decoration: none;
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      text-transform: lowercase;
      padding: 1.5rem;
      line-height: 1rem;
      color: whitesmoke;
      font-size: 1.2rem;
      font-weight: 600; }

.footer {
  background-color: black;
  height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center; }
  .footer__logo {
    width: 7em;
    height: 4em; }
  .footer__redes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: normal;
    align-content: normal;
    width: 70%; }
    .footer__redes img {
      width: 3em;
      height: 3em; }
  .footer__copyright-texto {
    text-align: center; }

.loader {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000; }
  .loader__spinner {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    width: 5em;
    height: 5em;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -50px;
    background: url(.././img/preloader.gif);
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }

.inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: normal;
  scroll-margin-top: 45em;
  background: black;
  height: 25em; }

.icon-cards {
  position: relative;
  width: 100em;
  height: 100em;
  max-width: 14em;
  max-height: 10em;
  margin: 0;
  color: white;
  perspective: 1000px;
  transform-origin: center; }
  .icon-cards__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    animation: carousel 20s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards; }
    .icon-cards__content.step-animation {
      animation: carousel 10s infinite steps(1) forwards; }
  .icon-cards__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40em;
    height: 30em;
    max-width: 14em;
    max-height: 10em;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transform-origin: center; }
    .icon-cards__item:nth-child(1) {
      background: #5e17eb;
      transform: rotateY(0) translateZ(35vw); }
    .icon-cards__item:nth-child(2) {
      background: #6a3dc2;
      transform: rotateY(120deg) translateZ(35vw); }
    .icon-cards__item:nth-child(3) {
      background: #8c52ff;
      transform: rotateY(240deg) translateZ(35vw); }

@keyframes carousel {
  0%, 17.5% {
    transform: translateZ(-35vw) rotateY(0); }
  27.5%, 45% {
    transform: translateZ(-35vw) rotateY(-120deg); }
  55%, 72.5% {
    transform: translateZ(-35vw) rotateY(-240deg); }
  82.5%, 100% {
    transform: translateZ(-35vw) rotateY(-360deg); } }

.calculador {
  height: 50em;
  background-color: black;
  color: white;
  margin-top: 5em;
  scroll-margin-top: 20em;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: space-evenly; }
  .calculador h1 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    color: white;
    font-size: 1em; }
  .calculador__formulario {
    text-transform: uppercase;
    width: 17em;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: normal;
    align-content: normal; }
    .calculador__formulario small {
      color: beige;
      text-align: center;
      font-size: 0.7em; }
    .calculador__formulario-botones {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: normal;
      align-content: normal; }
  .calculador__loader {
    width: 100%;
    height: 15em;
    background-color: black;
    color: #E6DDF6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: normal; }
    .calculador__loader p {
      font-weight: 600;
      -webkit-text-stroke: 0.2px #6F06B8;
      text-shadow: 0 0 5px #5E17EB, 0 0 5px #5E17EB, 0 0 10px #5E17EB, 0 0 10px #5E17EB;
      font-size: 1.5em;
      text-transform: uppercase; }
    .calculador__loader-flicker1 {
      animation: parpadear 1.5s infinite backwards;
      animation-iteration-count: 2; }
    .calculador__loader-flicker2 {
      animation: parpadear 2s infinite backwards;
      animation-iteration-count: 1; }
    .calculador__loader-flicker3 {
      animation: parpadear 2.6s;
      animation-iteration-count: 1; }
    .calculador__loader-flicker4 {
      animation: parpadear 1s infinite backwards;
      animation-iteration-count: 3; }
    .calculador__loader-flicker5 {
      animation: parpadear 2.8s infinite backwards;
      animation-iteration-count: 1; }
    .calculador__loader-flicker6 {
      animation: parpadear 0.8s infinite backwards;
      animation-iteration-count: 4; }
    .calculador__loader-flicker7 {
      animation: parpadear 2s infinite backwards;
      animation-iteration-count: 1; }
    .calculador__loader-flicker8 {
      animation: parpadear 1.5s infinite backwards;
      animation-iteration-count: 1; }

@keyframes parpadear {
  to {
    color: #666464;
    text-shadow: none; } }
  .calculador__resultado {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: normal;
    width: 90%;
    height: 20em; }
    .calculador__resultado p {
      font-size: 1em;
      text-align: center; }
    .calculador__resultado span {
      text-transform: uppercase; }
    .calculador__resultado-boton {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: normal;
      align-content: normal; }
  .calculador__intereses {
    background-color: black;
    height: 16em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: normal; }
    .calculador__intereses-caja {
      background-color: #5E17EB;
      height: 14em;
      margin: 2em;
      border-radius: 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      align-content: normal; }
      .calculador__intereses-caja h2 {
        margin-top: 1em;
        text-align: center;
        font-size: 1em; }
      .calculador__intereses-caja button {
        background-color: black;
        color: white; }

.alerta {
  background-color: #fff; }
  .alerta__boton-cancelar {
    background-color: black; }

.infoInteres__cartel {
  height: 20em;
  width: 13em; }

@media (min-width: 450px) and (max-width: 576px) {
  .inicio {
    height: 22em; }
  .icon-cards {
    max-width: 20em;
    max-height: 14em; }
    .icon-cards__item {
      max-width: 20em;
      max-height: 14em; }
  .calculador h1 {
    font-size: 1.3em; }
  .calculador__formulario {
    width: 20em; }
  .calculador__resultado {
    width: 20em; }
  .calculador__intereses {
    height: 18em; }
    .calculador__intereses-caja h2 {
      margin: 2em; }
  .infoInteres__cartel {
    height: 25em;
    width: 17.5em; } }

/*----------- TABLET ------------*/
@media (min-width: 577px) and (max-width: 768px) {
  .inicio {
    height: 23em; }
  .icon-cards {
    max-width: 23em;
    max-height: 16em; }
    .icon-cards__item {
      max-width: 23em;
      max-height: 16em; }
  .calculador {
    height: 45em; }
    .calculador h1 {
      font-size: 1.5em; }
    .calculador__formulario {
      width: 30em; }
    .calculador__intereses {
      height: 20em; }
      .calculador__intereses-caja {
        height: 18em;
        margin: 4em; }
        .calculador__intereses-caja h2 {
          font-size: 1.3em;
          margin: 2em; }
  .infoInteres__cartel {
    height: 29em;
    width: 20em; } }

/*--------- PANTALLA LARGE ----------*/
@media (min-width: 769px) and (max-width: 992px) {
  .inicio {
    height: 31em; }
  .icon-cards {
    max-width: 30em;
    max-height: 18em; }
    .icon-cards__item {
      max-width: 30em;
      max-height: 18em; }
  .calculador {
    height: 50em; }
    .calculador h1 {
      font-size: 1.5em; }
    .calculador__formulario {
      width: 35em; }
    .calculador__loader p {
      font-size: 1.8em; }
    .calculador__intereses {
      height: 20em; }
      .calculador__intereses-caja h2 {
        font-size: 1.3em;
        margin: 2em; }
  .infoInteres__cartel {
    height: 32em;
    width: 22em; } }

/*----------- DESKTOP -----------*/
@media (min-width: 993px) and (max-width: 1024px) {
  .inicio {
    height: 25em; }
  .icon-cards {
    max-width: 38em;
    max-height: 20em; }
    .icon-cards__item {
      max-width: 38em;
      max-height: 20em; }
  .calculador {
    height: 55em;
    scroll-margin-top: 6em; }
    .calculador h1 {
      font-size: 1.5em; }
    .calculador__formulario {
      width: 40em; }
    .calculador__loader p {
      font-size: 1.8em; }
    .calculador__intereses {
      height: 23em; }
      .calculador__intereses-caja h2 {
        font-size: 1.3em;
        margin: 2em; }
  .infoInteres__cartel {
    height: 32em;
    width: 22em; } }

/*-------------- PANTALLA GRANDE ------------*/
@media (min-width: 1025px) and (max-width: 1200px) {
  .inicio {
    scroll-margin-top: 30em;
    height: 27em; }
  .icon-cards {
    max-width: 40em;
    max-height: 22em; }
    .icon-cards__item {
      max-width: 40em;
      max-height: 22em; }
  .calculador {
    height: 55em;
    scroll-margin-top: 6.8em; }
    .calculador h1 {
      font-size: 1.5em; }
    .calculador__formulario {
      width: 40em; }
    .calculador__loader {
      width: 80%; }
      .calculador__loader p {
        font-size: 2em; }
    .calculador__intereses {
      height: 25em; }
      .calculador__intereses-caja h2 {
        margin: 2em;
        font-size: 1.3em; }
  .infoInteres__cartel {
    height: 32em;
    width: 22.5em; } }

/*-------------- PANTALLA 1200 --------------*/
@media (min-width: 1201px) {
  .inicio {
    height: 25em; }
  .icon-cards {
    max-width: 40em;
    max-height: 22em; }
    .icon-cards__item {
      max-width: 40em;
      max-height: 22em; }
  .calculador {
    height: 60em;
    scroll-margin-top: 6.6em; }
    .calculador h1 {
      font-size: 1.8em; }
    .calculador__formulario {
      width: 40em; }
      .calculador__formulario small {
        font-size: 1em; }
    .calculador__loader {
      width: 80%; }
      .calculador__loader p {
        font-size: 2em; }
    .calculador__intereses {
      height: 24em; }
      .calculador__intereses-caja h2 {
        font-size: 1.3em;
        margin: 1.5em; }
  .infoInteres__cartel {
    height: 37em;
    width: 25em; } }
