@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Kanit", sans-serif;
  /* font-family: 'Roboto Condensed', sans-serif; */ }

main {
  font-family: "Kanit", sans-serif; }

.header {
  background-color: black; }
  .header__logo {
    margin-top: 1rem;
    width: 7em;
    height: 7em; }
  .header__navbar {
    padding: 1rem; }
    .header__navbar a {
      font-family: "Kanit", sans-serif;
      text-decoration: none;
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      text-transform: lowercase;
      padding: 1.5rem;
      line-height: 1rem;
      color: whitesmoke;
      font-size: 1.2rem;
      font-weight: 600; }

.inicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: normal;
  background: black;
  height: 15em; }

.icon-cards {
  position: relative;
  width: 100em;
  height: 100em;
  max-width: 10em;
  max-height: 7em;
  margin: 0;
  color: white;
  perspective: 1000px;
  transform-origin: center; }
  .icon-cards__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    animation: carousel 20s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards; }
    .icon-cards__content.step-animation {
      animation: carousel 10s infinite steps(1) forwards; }
  .icon-cards__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 40em;
    height: 30em;
    max-width: 10em;
    max-height: 7em;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transform-origin: center; }
    .icon-cards__item:nth-child(1) {
      background: #FDD94F;
      transform: rotateY(0) translateZ(35vw); }
    .icon-cards__item:nth-child(2) {
      background: #F87949;
      transform: rotateY(120deg) translateZ(35vw); }
    .icon-cards__item:nth-child(3) {
      background: #FBAB48;
      transform: rotateY(240deg) translateZ(35vw); }

@keyframes carousel {
  0%, 17.5% {
    transform: translateZ(-35vw) rotateY(0); }
  27.5%, 45% {
    transform: translateZ(-35vw) rotateY(-120deg); }
  55%, 72.5% {
    transform: translateZ(-35vw) rotateY(-240deg); }
  82.5%, 100% {
    transform: translateZ(-35vw) rotateY(-360deg); } }

.calculador {
  height: 40em;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: space-evenly; }
  .calculador h1 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 0.3rem;
    color: black;
    font-size: 1em; }
  .calculador__formulario {
    text-transform: uppercase;
    width: 17em; }
    .calculador__formulario small {
      text-align: center; }
  .calculador__resultado p {
    font-size: 1em;
    text-align: center; }
  .calculador__resultado span {
    text-transform: uppercase; }

@media (min-width: 450px) and (max-width: 576px) {
  .inicio {
    height: 20em; }
  .icon-cards {
    max-width: 20em;
    max-height: 12em; }
    .icon-cards__item {
      max-width: 20em;
      max-height: 12em; }
  .calculador h1 {
    font-size: 1.3em; }
  .calculador__formulario {
    width: 20em; } }

/*----------- TABLET ------------*/
@media (min-width: 577px) and (max-width: 768px) {
  .inicio {
    height: 29em; }
  .icon-cards {
    max-width: 28em;
    max-height: 15em; }
    .icon-cards__item {
      max-width: 28em;
      max-height: 15em; }
  .calculador h1 {
    font-size: 1.5em; }
  .calculador__formulario {
    width: 30em; } }

/*--------- PANTALLA LARGE ----------*/
@media (min-width: 769px) and (max-width: 992px) {
  .inicio {
    height: 32em; }
  .icon-cards {
    max-width: 30em;
    max-height: 18em; }
    .icon-cards__item {
      max-width: 30em;
      max-height: 18em; }
  .calculador h1 {
    font-size: 1.5em; }
  .calculador__formulario {
    width: 35em; } }

/*----------- DESKTOP -----------*/
@media (min-width: 993px) and (max-width: 1024px) {
  .inicio {
    height: 38em; }
  .icon-cards {
    max-width: 38em;
    max-height: 20em; }
    .icon-cards__item {
      max-width: 38em;
      max-height: 20em; }
  .calculador h1 {
    font-size: 1.5em; }
  .calculador__formulario {
    width: 40em; } }

/*-------------- PANTALLA GRANDE ------------*/
@media (min-width: 1025px) and (max-width: 1200px) {
  .inicio {
    height: 45em; }
  .icon-cards {
    max-width: 40em;
    max-height: 22em; }
    .icon-cards__item {
      max-width: 40em;
      max-height: 22em; }
  .calculador h1 {
    font-size: 1.5em; }
  .calculador__formulario {
    width: 40em; } }

/*-------------- PANTALLA 1200 --------------*/
@media (min-width: 1201px) {
  .inicio {
    height: 50em; }
  .icon-cards {
    max-width: 40em;
    max-height: 22em; }
    .icon-cards__item {
      max-width: 40em;
      max-height: 22em; }
  .calculador h1 {
    font-size: 1.8em; }
  .calculador__formulario {
    width: 40em; } }
