// ESTILO LETRA //

$estilo-fuente: "Kanit", sans-serif;

// COLORES DE FUENTES //

$color-titulo: black;

// TAMAÑO FUENTES //

$letra-xs: 0.7em;
$letra-small: 1em;
$letra-medium: 1.3em;
$letra-large: 1.5em;
$letra-xl: 1.8em;

// COLOR FONDO //
// color predeterminado para el header y el footer.
$color-fondohyf: black;