// ESTILO LETRA //

$estilo-fuente: "Kanit", sans-serif;

// COLORES DE FUENTES //

$color-titulo: black;
$color-neon1: #5B12ED;
$color-neon2: #8C52FF;
$color-luz: #fff;

// TAMAÑO FUENTES //

$letra-xs: 0.7em;
$letra-small: 1em;
$letra-medium: 1.3em;
$letra-large: 1.5em;
$letra-xl: 1.8em;
$letra-xxl: 2em;

// COLOR FONDO //
// color predeterminado para el header y el footer.
$color-fondohyf: black;