// ESTILO LETRA //

$estilo-fuente: "Kanit", sans-serif;

// COLORES DE FUENTES //

$color-titulo: white;
$color-neon1: #5E17EB;
$color-neon2: #5E17EB;
$color-luz: #5A3A99;

// TAMAÑO FUENTES //

$letra-xs: 0.7em;
$letra-small: 1em;
$letra-medium: 1.3em;
$letra-large: 1.5em;
$letra-xl: 1.8em;
$letra-xxl: 2em;

// COLOR FONDO //
$color-fondo: white;
// color predeterminado para el header y el footer.
$color-fondohyf: black;
// color para la sección de información
$color-fondo2:#5A3A99;
