.calculador {
    height:30em;
    @include grid (center, center, center, space-evenly);
    & h1 {
        text-align: center;
        margin-top: 5rem;
        color: $color-titulo;
        font-size: $letra-small;
    }
    &__formulario {
        width: 17em;
    }
}