// El proyecto está armado desde un principio con la metodología mobile first

@media (min-width:450px) and (max-width:576px){
    .inicio {
        height:22em;
    }
    .icon-cards {
        max-width: 20em;
        max-height: 14em;
    
        &__item {
            max-width: 20em;
            max-height: 14em;
        }
    }
    .calculador {
        & h1 {
            font-size: $letra-medium;
        }
        &__formulario{
            width: 20em;
        }
        &__resultado{
            width: 20em;
        }
        &__intereses {
            height:18em;
            &-caja {
                & h2 {
                    margin: 2em;
                }
            }
        }
    }
    .infoInteres {
        &__cartel {
            height: 25em;
            width:17.5em;
        }
    }
}

/*----------- TABLET ------------*/

@media (min-width:577px) and (max-width:768px) {
    .inicio {
        height:23em;
    }
    .icon-cards {
        max-width: 23em;
        max-height: 16em;
    
        &__item {
            max-width: 23em;
            max-height: 16em;
        }
    }
    .calculador {
        height:45em;
        & h1 {
            font-size: $letra-large;
        }
        &__formulario{
            width: 30em;
        }
        &__intereses {
            height: 20em;
            &-caja {
                height:18em;
                margin: 4em;
                & h2 {
                    font-size: $letra-medium;
                    margin: 2em;
                }
            }       
        }
    }
    .infoInteres {
        &__cartel {
            height: 29em;
            width: 20em;
        }
    }
    .informacion {
        height: 35em;
        scroll-margin-top: 16.2em;
    }
}

/*--------- PANTALLA LARGE ----------*/

@media (min-width:769px) and (max-width:992px) {
    .inicio {
        height:31em;
    }
    .icon-cards {
        max-width: 30em;
        max-height: 18em;
    
        &__item {
            max-width: 30em;
            max-height: 18em;
        }
    }
    .calculador {
        height:50em;
        & h1 {
            font-size: $letra-large;
        }
        &__formulario{
            width: 35em;
        }
        &__loader {
            & p {
                font-size: $letra-xl;
            }
        }
        &__intereses {
            height:20em;
            &-caja {
               & h2 {
                font-size: $letra-medium;
                margin: 2em;
               }
            }   
        }
    }
    .infoInteres {
        &__cartel {
            height: 32em;
            width: 22em;
        }
    }
    .informacion {
        height: 38em;
        scroll-margin-top: 14.8em;
    }   
}

/*----------- DESKTOP -----------*/

@media (min-width:993px) and (max-width:1024px){
    .inicio {
        height:25em;
    }
    .icon-cards {
        max-width: 38em;
        max-height: 20em;
    
        &__item {
            max-width: 38em;
            max-height: 20em;
        }
    }
    .calculador {
        height: 55em;
        scroll-margin-top: 7em;
        & h1 {
           font-size: $letra-large;
        }
        &__formulario {
            width: 40em;
        }
        &__loader {
            & p {
                font-size: $letra-xl;
                }
        }
        &__intereses {
            height: 23em;
            &-caja {
               & h2 {
                font-size: $letra-medium;
                margin:2em;
               }
            }   
        }
    }
    .infoInteres {
        &__cartel {
            height: 32em;
            width: 22em;
        }
    }
    .informacion {
        height: 35em;
        @include flex (column, center, center, normal); 
        flex-wrap: wrap;
        scroll-margin-top: 4.5em;
        &__carrusel {
            width: 75%;
        }
    } 
}

/*-------------- PANTALLA GRANDE ------------*/

@media (min-width:1025px) and (max-width:1200px) {
    .inicio {
        scroll-margin-top: 25em;
        height:27em;
    }
    .icon-cards {
        max-width: 40em;
        max-height: 22em;
    
        &__item {
            max-width: 40em;
            max-height: 22em;
        }
    }
    .calculador {
        height: 55em;
        scroll-margin-top: 7.5em;
        & h1 {
            font-size: $letra-large;
        }
        &__formulario{
            width: 40em;
        }
        &__loader {
            width: 80%;
            & p {
                font-size: $letra-xxl;
                }         
            }
            &__intereses {
                height: 25em;
                &-caja {
                   & h2 {
                    margin: 2em;
                    font-size: $letra-medium;
                   }
                }   
            }   
        }
        .infoInteres {
            &__cartel {
                height: 32em;
                width: 22.5em;
            }
        }
        .informacion {
            height: 35em;
            @include flex (column, center, center, normal); 
            flex-wrap: wrap;
            scroll-margin-top: 4.6em;
            &__carrusel{
                width: 75%;
            }
        } 
}


/*-------------- PANTALLA 1200 --------------*/

@media (min-width:1201px) {
    .inicio {
        height:25em;
    }
    .icon-cards {
        max-width: 40em;
        max-height: 22em;
    
        &__item {
            max-width: 40em;
            max-height: 22em;
        }
    }
    .calculador {
        height: 60em;
        scroll-margin-top: 7em;
        & h1 {
            font-size: $letra-xl;
        }
        &__formulario{
            width: 40em;
            & small {
                font-size: $letra-small;
            }
        }
        &__loader {
            width: 80%;
            & p {
                font-size: $letra-xxl;
                }
        }
        &__intereses {
            height: 24em;
            &-caja {
               & h2 {
                font-size: $letra-medium;
                margin: 1.5em;
               }
            }   
        }
    }
    .infoInteres {
        &__cartel {
            height: 37em;
            width: 25em;
        }
    } 
    .informacion {
        height: 40em;
        @include flex (column, center, center, normal); 
        flex-wrap: wrap;
        scroll-margin-top: 4em;
        &__carrusel {
            width: 72%;
        }
    }
}

